## Reading dataset
CSV file (Comma-separated values)

In [4]:
import os
os.makedirs(os.path.join('..', 'ML', 'data'), exist_ok= True)
data_file = os.path.join('..', 'ML', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('''NumRooms, RoofType, Price
            NaN, NaN, 127500
            2, NaN, 106000
            4, Slate, 178100
            NaN, NaN, 140000
            ''')

In [5]:
import pandas as pd
data = pd.read_csv(data_file)
print(data)

          NumRooms  RoofType   Price
0              NaN       NaN  127500
1                2       NaN  106000
2                4     Slate  178100
3              NaN       NaN  140000

## Data Preparation
Handle Nan Problem

In [9]:
inputs, target = data.iloc[:, 0:2], data.iloc[:, 2] # access data by index
inputs = pd.get_dummies(inputs, dummy_na=True)
inputs

,NumRooms_ 2,NumRooms_ 4,NumRooms_ NaN,NumRooms_nan,RoofType_ NaN,RoofType_ Slate,RoofType_nan
0,False,False,True,False,True,False,False
1,True,False,False,False,True,False,False
2,False,True,False,False,False,True,False
3,False,False,True,False,True,False,False

In [8]:
inputs = inputs.fillna(inputs.mean())
inputs

,NumRooms_ 2,NumRooms_ 4,NumRooms_ NaN,NumRooms_nan,RoofType_ NaN,RoofType_ Slate,RoofType_nan
0,False,False,True,False,True,False,False
1,True,False,False,False,True,False,False
2,False,True,False,False,False,True,False
3,False,False,True,False,True,False,False

## Conversion to the Tensor Format

In [7]:
import torch
X = torch.tensor(inputs.to_numpy(dtype=float))
y = torch.tensor(target.to_numpy(dtype=float))
X, y

(tensor([[0., 0., 1., 0., 1., 0., 0.],
         [1., 0., 0., 0., 1., 0., 0.],
         [0., 1., 0., 0., 0., 1., 0.],
         [0., 0., 1., 0., 1., 0., 0.]], dtype=torch.float64),
 tensor([127500., 106000., 178100., 140000.], dtype=torch.float64))